.botonfichar{
    height: 7rem;
    width: 14rem;
    font-size: 2rem;
    overflow: auto;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 20px;
}

.info {
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 20px;
}

.fichando {
    background-color: var(--red-color);
}

.nofichando {
    background-color:  var(--green-color);
}

.sep {
    border-left: 1px solid rgb(122, 122, 122);
    height: 500px;
}

.calendario {
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
}
