.botonfichar{
    margin: 3rem;
    height: 5rem;
    width: 11rem;
}
.fichando {
    background-color: #e0584f;
}

.nofichando {
    background-color: #6fe39e;
}

.botones-inicio {         
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.rowVacaciones{
    text-align: center;
    width: 12.5%;
}


.tablaFichar{
    margin: 2rem;
    width:90%;
}

.tablaFichar > thead > td{
    width:18%;
}