<div>
    <p></p>
  </div>
  <div class="card-container">
    <mat-card class="card" flex="20">
      <div>
        <h1>Incidencias
</h1>
      </div>
      <div>
        <p></p>
      </div>
      <div class="table-container mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
  
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Usuario </th>
            <td mat-cell *matCellDef="let element"> {{element}} </td>
          </ng-container>
  
          <ng-container matColumnDef="responsable" >  
            <th mat-header-cell *matHeaderCellDef> Asunto </th>
            <td mat-cell *matCellDef="let incidencias" > {{ element.responsable }} </td>
          </ng-container>

          <ng-container matColumnDef="responsable" >  
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let incidencias" > {{ element.responsable }} </td>
          </ng-container>
  
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>Mensaje</th>
            <td mat-cell *matCellDef="let element">
              <button mat-button data='element.id' (click)='editDepSelected(element)'>
                <mat-icon>edit</mat-icon>
                
              </button>
              <button mat-button data='element.id' (click)='deleteDepSelected(element)'>
                <mat-icon>delete</mat-icon>
              </button>
  
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </mat-card>
  </div>