<div>
  <p></p>
</div>
<div class="card-container">
  <mat-card class="card" flex="20">
    <div>
      <h1>Usuarios</h1>
      <button class="poc-mat-button" type="button" (click)="deletePOC(poc.email)" mat-icon-button>
        <mat-icon class="poc-mat-icon">
          <i class="material-icons">add_circle_outline</i>
        </mat-icon>
      </button>
    </div>
    <mat-divider></mat-divider>
    <div>
      <p></p>
    </div>
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="apellidos">
          <th mat-header-cell *matHeaderCellDef> Apellidos </th>
          <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
        </ng-container>

        <ng-container matColumnDef="departamento">
            <th mat-header-cell *matHeaderCellDef> Departamento </th>
            <td mat-cell *matCellDef="let element"> {{element.departamento}} </td>
          </ng-container>

        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let element">
            <button mat-button data='element.id' (click)='deleteUserSelected(element)'>
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-button data='element.id' (click)='deleteUserSelected(element)'>
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <div>
      <p></p>
    </div>

    <div class="text-center">
      <button type="submit" (click)="getUsersGestor()" class="btn btn-primary text-center" data-toggle="button"
        aria-pressed="false" autocomplete="off">
        No hace nada
      </button>
    </div>

  </mat-card>
</div>