<div class="card-container container-fluid">
  <mat-card class="card ">
    <div class="d-flex flex-column">
      <div class="row-4">
        <div class="d-flex flex-row">
            <div class="col-6">
              <h1> Usuarios </h1>
            </div>
            <div class="col-6 text-right" *ngIf="permisos">
              <button type="submit" (click)="newUser()" class="btn btn-primary" data-toggle="button"
              aria-pressed="false" autocomplete="off">
              Nuevo usuario
              </button>
            </div>
        </div>
      </div>
      <div class="col-flex col"><mat-divider></mat-divider></div>
      <div class="row">
        <div class="table-container mat-elevation-z8">
          <table mat-table [dataSource]="dataSource">
    
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>
    
            <ng-container matColumnDef="apellidos">
              <th mat-header-cell *matHeaderCellDef> Apellidos </th>
              <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
            </ng-container>
    
            <ng-container matColumnDef="departamento">
              <th mat-header-cell *matHeaderCellDef> Departamento </th>
              <td mat-cell *matCellDef="let element"> {{element.departamento}} </td>
            </ng-container>
    
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>Acciones</th>
              <td mat-cell *matCellDef="let element">
                <button mat-button data='element.id' (click)='editUserSelected(element)'>
                  <mat-icon>edit</mat-icon>
    
                </button>
                <button mat-button data='element.id' (click)='openDialog(element)'>
                  <mat-icon>delete</mat-icon>
                </button>
                <button mat-button data='element.id' (click)='generarInforme(element)'>
                    <mat-icon>edit</mat-icon>
      
                  </button>
              </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          </div>
      </div>
      
    </div>
  </mat-card>
</div>