<div class="titulo">
    <p>&nbsp;</p>
    <p>Componente creado para hacer pruebas referente al como restringir datos.</p>
    <p>La información se introducirá en ficha-personal</p>
    <p>{{departamento}}</p>
    <mat-button-toggle class="boton" (click)="cambiarModo()"#toggleButton class="botoncambio">Cambio</mat-button-toggle>
    <mat-button-toggle *ngIf="comprobarDepartamento()" (click)="cambiarModoGestion()" #toggleButton class="botongestion">{{nombreBotonGestion}}</mat-button-toggle>
    
</div>



<body>
    <p>&nbsp;</p><p>&nbsp;</p>
<div *ngIf="comprobarGestionAdministrativa()" class="container">
    <form action="action_page.php">
    <div class="row">
        <div class="col-25">
          <label for="lname">Contraseña:</label>
        </div>
        <div class="col-75">
          <input type="text" id="lname" name="password" placeholder="4645465">
        </div>
    </div>

    <div class="row">
        <div class="col-25">
          <label for="lname">Domicilio:</label>
        </div>
        <div class="col-75">
          <input type="text" id="lname" name="domicilio" placeholder="Avenida inventada">
        </div>
    </div>

    <div class="row">
        <div class="col-25">
          <label for="lname">Localidad:</label>
        </div>
        <div class="col-75">
          <input type="text" id="lname" name="localidad" placeholder="Ontinyent manda y no tu panda">
        </div>
    </div>

    <div class="row">
        <div class="col-25">
          <label for="lname">Provincia:</label>
        </div>
        <div class="col-75">
          <input type="text" id="lname" name="provincia" placeholder="Valencia">
        </div>
    </div>

    </form>
  
</div>




<div  *ngIf="!comprobarGestionAdministrativa()" class="container">
  <form action="action_page.php">

      <div *ngIf="comprobarDepartamentoAdmin()" class="example-container">
          <mat-form-field>
            <mat-select placeholder="Departamento">
              <mat-option value="option">Opcion 3</mat-option>
              <mat-option value="option">Opcion 4</mat-option>
            </mat-select>
          </mat-form-field>
        </div>  
        <div *ngIf="comprobarDepartamento()" class="example-container">
            <mat-form-field>
              <mat-select placeholder="Nombre">
                <mat-option *ngFor="let user of users" value="option">{{user.nombre}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

    <div *ngIf="comprobarDepartamento()" class="row">
      <div class="col-25">
        <label for="fname">Nombre:</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="nombre" placeholder="Stella">
      </div>
      
    </div>

    <div *ngIf="comprobarDepartamento()" class="row">
      <div class="col-25">
        <label for="lname">Apellidos:</label>
      </div>
      <div class="col-75">
        <input type="text" id="lname" name="apellidos" placeholder="Esparza Torregrosa">
      </div>
  </div>

      <div *ngIf="comprobarDepartamento()" class="row">
              <div class="col-25">
                <label for="lname">Fecha nacimiento:</label>
              </div>
              <div class="col-75">
                <input type="text" id="lname" name="fechaNacimiento" placeholder="EN PRUEBAS">
              </div>
      </div>

      <div *ngIf="comprobarDepartamento()" class="row">
              <div class="col-25">
                <label for="lname">Email:</label>
              </div>
              <div class="col-75">
                <input type="text" id="lname" name="email" placeholder="steestor@gmail.com">
              </div>
      </div>
      
      <div class="row">
              <div class="col-25">
                <label for="lname">Localidad:</label>
              </div>
              <div class="col-75">
                <input type="text" id="lname" name="localidad" placeholder="Ontinyent manda y no tu panda">
              </div>
      </div>
      
      <div class="row">
              <div class="col-25">
                <label for="lname">Provincia:</label>
              </div>
              <div class="col-75">
                <input type="text" id="lname" name="provincia" placeholder="Valencia">
              </div>
      </div>

      <div class="row">
              <div class="col-25">
                <label for="lname">Domicilio:</label>
              </div>
              <div class="col-75">
                <input type="text" id="lname" name="domicilio" placeholder="Avenida inventada">
              </div>
      </div>
      <div *ngIf="comprobarDepartamento()" class="row">
              <div class="col-25">
                <label for="lname">Teléfono:</label>
              </div>
              <div class="col-75">
                <input type="text" id="lname" name="telefono" placeholder="6658741226">
              </div>
      </div>

      <div *ngIf="comprobarDepartamentoAdmin()" class="row">
              <div class="col-25">
                <label for="lname">Gestor:</label>
              </div>
              <div class="col-75">
                <input type="text" id="lname" name="gestor" placeholder="EN PRUEBAS">
              </div>
      </div>

      <div *ngIf="comprobarDepartamentoAdmin()" class="row">
              <div class="col-25">
                <label for="lname">Admin:</label>
              </div>
              <div class="col-75">
                <input type="text" id="lname" name="admin" placeholder="EN PRUEBAS">
              </div>
      </div>

      <div *ngIf="comprobarDepartamentoAdmin()" class="row">
              <div class="col-25">
                <label for="lname">Gestor:</label>
              </div>
              <div class="col-75">
                <input type="text" id="lname" name="gestor" placeholder="EN PRUEBAS">
              </div>
      </div>

      <div *ngIf="comprobarDepartamento()" class="row">
              <div class="col-25">
                <label for="lname">NUSS:</label>
              </div>
              <div class="col-75">
                <input type="text" id="lname" name="nuss" placeholder="5465456465">
              </div>
      </div>

      <div *ngIf="comprobarDepartamento()" class="row">
              <div class="col-25">
                <label for="lname">Login:</label>
              </div>
              <div class="col-75">
                <input type="text" id="lname" name="username" placeholder="steestor">
              </div>
      </div>

      <div class="row">
              <div class="col-25">
                <label for="lname">Contraseña:</label>
              </div>
              <div class="col-75">
                <input type="text" id="lname" name="password" placeholder="4645465">
              </div>
      </div>

      <div *ngIf="comprobarDepartamento()" class="row">
              <div class="col-25">
                <label for="lname">Becario:</label>
              </div>
              <div class="col-75">
                <input type="text" id="lname" name="becario" placeholder="EN PRUEBAS">
              </div>
      </div>
      
      
      <!-- Selector de paises
    </div>
    <div class="row">
      <div class="col-25">
        <label for="country">Country</label>
      </div>
      <div class="col-75">
        <select id="country" name="country">
          <option value="australia">Australia</option>
          <option value="canada">Canada</option>
          <option value="usa">USA</option>
        </select>
      </div>
    </div>-->

    <!-- Escribe comentarios
    <div class="row">
      <div class="col-25">
        <label for="subject">Subject</label>
      </div>
      <div class="col-75">
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
      </div>
    </div>
    -->
    <br>
    <br>
    <div class="row">
      <input type="submit" value="Guardar cambios">
    </div>

  </form>
</div>

</body>
