<div class="main-div">
    <mat-card class="card" flex="50" >
      <mat-form-field>
          <input matInput [(ngModel)]="username"  placeholder="Nombre de usuario">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" [(ngModel)]="pass"  placeholder="Contraseña">
      </mat-form-field>

      <!--<div class="login-button" onclick='console.log("Clicked!")'>
        <input type="submit" value="Login">
      </div>-->

      <div layout="row" layout-align="center center">
        <!--<button mat-button (click)='loginUser(username, pass)'>Login</button>-->
        <button mat-button (click)='prueba()'>Login</button>
      </div>
    </mat-card>
  </div>