.center{
    width: 75%;
    margin: 10px auto;
  }

.card{
    height: 210px;
    display: flex;
    /*align-items: left;*/
    flex-direction: column;
    padding: 35px;
}

.main-div .login-button{
  margin: auto;
}
