<div class="main-div">
    <mat-card class="card" flex="50" >
    <mat-form-field>
        <input matInput placeholder="E-mail">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" placeholder="Contraseña">
      </mat-form-field>

      <!--<div class="login-button" onclick='console.log("Clicked!")'>
        <input type="submit" value="Login">
      </div>-->

      <div layout="row" layout-align="center center">
        <button class='login-button' mat-button onclick='console.log("Clicked!")'><input type='submit' value='Login'></button>
      </div>

    </mat-card>
  </div>