<div>
  <p></p>
</div>

<div class="example-container">
  <mat-card class="card" flex="20">
    <form #frmCrearUsuario="ngForm" class="crearusuario-container" (ngSubmit)="onCrearUsuario(frmCrearUsuario)">
      <h1 class="text-center">Crear usuario</h1>

      <div class="row p-3">
        <div class="col-md-4 offset-md-1">
          <mat-form-field>
            <input matInput name="nombre" placeholder="Nombre" ngModel required>
          </mat-form-field>
        </div>

        <div class="col-md-4 offset-md-2">
          <mat-form-field>
            <input matInput placeholder="apellidos" name="apellidos" ngModel required>
          </mat-form-field>
        </div>
      </div>

      <div class="row p-3">
        <div class="col-md-4 offset-md-1">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Fecha de nacimiento" name="fechaNacimiento" ngModel
              required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-4 offset-md-2">
          <mat-form-field>
            <input matInput placeholder="Email" name="email" ngModel required>
          </mat-form-field>
        </div>
      </div>

      <div class="row p-3">
        <div class="col-md-4 offset-md-1">
          <mat-form-field>
            <mat-select placeholder="Tipo de usuario" name="tipousuario" ngModel required>
              <mat-option value="normal">Normal</mat-option>
              <mat-option value="becario">Becario</mat-option>
              <mat-option value="gestor">Gestor</mat-option>
              <mat-option value="admin">Administrador</mat-option>
            </mat-select>
          </mat-form-field>

        </div>
        <div class="col-md-4 offset-md-2">
          <mat-form-field>
            <input matInput name="nuss" placeholder="nuss" ngModel required>
          </mat-form-field>
        </div>
      </div>


      <div class="row p-3">
        <div class="col">
          <mat-form-field>
            <input matInput name="telefono" placeholder="felefono" ngModel required>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <input matInput name="username" placeholder="Nombre de usuario" ngModel required>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <input matInput name="password" placeholder="contraseña" ngModel required>
          </mat-form-field>
        </div>
      </div>

      <div class="row p-3">
        <div class="col">
          <mat-form-field>
            <input matInput placeholder="Localidad" name="localidad" ngModel required>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <input matInput placeholder="Provincia" name="provincia" ngModel required>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <input matInput placeholder="Domicilio" name="domicilio" ngModel required>
          </mat-form-field>
        </div>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary text-center" data-toggle="button" aria-pressed="false"
          autocomplete="off">
          Confirmar
        </button>
      </div>

    </form>
  </mat-card>
</div>
<div>
  <p></p>
</div>