<h3>Asignar persona a departamento</h3>
<div class="example-container">
    <p>{{selectedUs}}</p>
  <mat-form-field>
    <mat-select placeholder="Nombre" name = "selectorPersona" [(value)] = selected>
      <mat-option *ngFor="let user of users" value="{{user}}" (click)="seleccionUsuario(user)">{{user.nombre}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="example-container">
  <p>{{selectedDep}}</p>
  <mat-form-field>
    <mat-select placeholder="Departamento" name = "selectorDepartamento" [(value)]=selected2>
        <mat-option (click)="seleccionDepartamento(departamento)" *ngFor="let departamento of departamentos" value="{{departamento.nombre}}">{{departamento.nombre}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button class="border" (click)="asignarDepartamento()" mat-button> Asignar</button>
</div>




