/* You can add global styles to this file, and also import other style files */

/*https://stackoverflow.com/questions/1875852/how-can-i-define-colors-as-variables-in-css*/
/* Para usarlo background-color: var(--main-color)*/
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';

:root{
    --main-color: #88CBE8;
    --green-color: #91E98A;
    --red-color: #E28787;
}


html,
body {
    height: 100%;
}

body {
    margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


