
<div *ngIf="comprobarDepartamento()" class="top">  
    <button mat-stroked-button (click)="cambiarModoGestion()" color="primary"  class="botong">{{nombreBotonGestion}}</button>
</div>

<body>
    
    <div *ngIf="gestion" class="container">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div class="row form-group">
                <div class="col-25">
                  <label>Contraseña:</label>
                </div>
                <div class="col-75">
                  <input type="text" formcontrolName="password" ngModel [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                  <div
                    *ngIf="userForm.controls['password'].invalid && (userForm.controls['password'].dirty || userForm.controls['telefono'].touched)"
                    class="alert alert-danger">
                    <div *ngIf="userForm.controls['password'].errors.required">
                     Teléfono es un campo requerido.
                    </div>
                  </div>
                </div>
              </div>

              <div class="row form-group">
                  <div class="col-25">
                    <label>Domicilio:</label>
                  </div>
                  <div class="col-75">
                    <input type="text" formcontrolName="domicilio" ngModel [(ngModel)]="user.domicilio" [ngModelOptions]="{standalone: true}" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.domicilio.errors }" />
                    <div
                      *ngIf="userForm.controls['domicilio'].invalid && (userForm.controls['domicilio'].dirty || userForm.controls['telefono'].touched)"
                      class="alert alert-danger">
                      <div *ngIf="userForm.controls['domicilio'].errors.required">
                        Domicilio es un campo requerido.
                      </div>
                    </div>
                  </div>
                </div>      

                <div class="row form-group">
                    <div class="col-25">
                      <label>Provincia:</label>
                    </div>
                    <div class="col-75">
                      <input type="text" formControlformControlName="provincia" ngModel [(ngModel)]="user.provincia" [ngModelOptions]="{standalone: true}" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.provincia.errors }" />
                      <div
                        *ngIf="userForm.controls['provincia'].invalid && (userForm.controls['provincia'].dirty || userForm.controls['telefono'].touched)"
                        class="alert alert-danger">
                        <div *ngIf="userForm.controls['provincia'].errors.required">
                          Provincia es un campo requerido.
                        </div>
                      </div>
                    </div>
                  </div>       

        </form>
    </div>     

  <div *ngIf="comprobarDepartamento() && !gestion" class="container">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div *ngIf="comprobarDepartamentoAdmin()" class="selector-container">
            <mat-form-field>
                <mat-select placeholder="Departamento" name = "selectorDepartamento">
                    <mat-option (click)="seleccionDepartamento(departamento)" *ngFor="let departamento of departamentos">{{departamento.nombre}}</mat-option>
                </mat-select>
              </mat-form-field>
          <p>Departamento: {{dnombre}}</p>
          </div>  
              <div *ngIf="comprobarDepartamento()" class="selector-container">
              <mat-form-field>
                <mat-select placeholder="Usuario"> 
                  <mat-option (click)="seleccionUsuario(user)" *ngFor="let user of users">{{user.nombre}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <p>Usuario: {{unombre}}</p>
      <div *ngIf="comprobarDepartamento()" class="row">
        <div class="col-25">
          <label for="nombre">Nombre:</label>
        </div>
        <div class="col-75">
          <input type="text" id="nombre" formcontrolName="nombre" ngModel [(ngModel)]="user.nombre"
            [ngModelOptions]="{standalone: true}" disabled>
        </div>
      </div>


      <div *ngIf="comprobarDepartamento()" class="row">
        <div class="col-25">
          <label for="apellidos">Apellidos:</label>
        </div>
        <div class="col-75">
          <input type="text" id="apellidos" formcontrolName="apellidos" ngModel [(ngModel)]="user.apellidos" [ngModelOptions]="{standalone: true}" disabled>
        </div>
      </div>


      <div *ngIf="comprobarDepartamento()" class="row">
        <div class="col-25">
          <label for="fechaNacimiento">Fecha nacimiento:</label>
        </div>
        <div class="col-75">
          <input type="text" id="start" formcontrolName="fechaNacimiento" ngModel [(ngModel)]="user.fechaNacimiento"
            [ngModelOptions]="{standalone: true}" disabled>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="nuss">NUSS:</label>
        </div>
        <div class="col-75">
          <input type="text" id="nuss" ngModel formcontrolName="nuss" [(ngModel)]="user.nuss"
            [ngModelOptions]="{standalone: true}" disabled>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="userformControlName">Login:</label>
        </div>
        <div class="col-75">
          <input type="text" id="username" ngModel formcontrolName="username" [ngModelOptions]="{standalone: true}"
            [(ngModel)]="user.username" disabled>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-25">
          <label>Email:</label>
        </div>
        <div class="col-75">
          <input type="text" formControlName="email" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Modifica el campo de email.</div>
          </div>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-25">
          <label>Domicilio:</label>
        </div>
        <div class="col-75">
          <input type="text" formControlName="domicilio" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.domicilio.errors }" />
          <div *ngIf="submitted && f.domicilio.errors" class="invalid-feedback">
            <div *ngIf="f.domicilio.errors.required">Modifica el campo de domicilio.</div>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-25">
          <label>Provincia:</label>
        </div>
        <div class="col-75">
          <input type="text" formControlName="provincia" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.provincia.errors }" />
          <div *ngIf="submitted && f.provincia.errors" class="invalid-feedback">
            <div *ngIf="f.provincia.errors.required">Modifica el campo de provincia.</div>
          </div>
        </div>
      </div>



      <div class="row form-group">
        <div class="col-25">
          <label>Teléfono:</label>
        </div>
        <div class="col-75">
          <input type="text" formControlName="telefono" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.telefono.errors }" />
          <div *ngIf="submitted && f.telefono.errors" class="invalid-feedback">
            <div *ngIf="f.telefono.errors.required">Modifica el campo de teléfono.</div>
          </div>
        </div>
      </div>
 -->

      <div class="row form-group">
        <div class="col-25">
          <label>Contraseña:</label>
        </div>
        <div class="col-75">
          <input type="text" formControlName="password" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Modifica el campo de password.</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="becario">Becario:</label>
        </div>
        <div class="col-75">
          <input type="boolean" id="becario" ngModel formcontrolName="becario" [ngModelOptions]="{standalone: true}"
            [(ngModel)]="user.becario" disabled>
        </div>
      </div>
      <br>
      <br>
      <div class="row">
        <input type="submit" value="Guardar cambios" >

      </div>

    </form>
  </div>

</body>