<body>
  <div class="container">
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

      <div *ngIf="comprobarDepartamento()" class="row">
        <div class="col-25">
          <label for="nombre">Nombre:</label>
        </div>
        <div class="col-75">
          <input type="text" id="nombre" name="nombre" [value]="user.nombre" disabled>
        </div>
      </div>

      <div *ngIf="comprobarDepartamento()" class="row">
        <div class="col-25">
          <label for="apellidos">Apellidos:</label>
        </div>
        <div class="col-75">
          <input type="text" id="apellidos" name="apellidos" [value]="user.apellidos" disabled>
        </div>
      </div>

      <div *ngIf="comprobarDepartamento()" class="row">
        <div class="col-25">
          <label for="fechaNacimiento">Fecha nacimiento:</label>
        </div>
        <div class="col-75">
          <input type="date" id="start" name="datepick" [value]="user.fechaNacimiento" disabled>
        </div>
      </div>




      <div class="row form-group">
        <div class="col-25">
          <label>Email:</label>
        </div>
        <div class="col-75">
          <input type="text" formControlName="email" [(value)]="user.email" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email es obligatoria</div>
          </div>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-25">
          <label>Provincia:</label>
        </div>
        <div class="col-75">
          <input type="text" formControlName="provincia" [(value)]="user.provincia" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.provincia.errors }" />
          <div *ngIf="submitted && f.provincia.errors" class="invalid-feedback">
            <div *ngIf="f.provincia.errors.required">Provincia es obligatoria</div>
          </div>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-25">
          <label>Domicilio:</label>
        </div>
        <div class="col-75">
          <input type="text" formControlName="domicilio" [(value)]="user.domicilio" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.domicilio.errors }" />
          <div *ngIf="submitted && f.domicilio.errors" class="invalid-feedback">
            <div *ngIf="f.domicilio.errors.required">Provincia es obligatoria</div>
          </div>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-25">
          <label>Teléfono:</label>
        </div>
        <div class="col-75">
          <input type="text" formControlName="telefono" [(value)]="user.telefono" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.telefono.errors }" />
          <div *ngIf="submitted && f.telefono.errors" class="invalid-feedback">
            <div *ngIf="f.telefono.errors.required">Provincia es obligatoria</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="nuss">NUSS:</label>
        </div>
        <div class="col-75">
          <input type="text" id="nuss" name="nuss" [value]="user.nuss" disabled>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="username">Login:</label>
        </div>
        <div class="col-75">
          <input type="text" id="username" name="username" [value]="user.username" disabled>
        </div>
      </div>

      <div class="row form-group">
        <div class="col-25">
          <label>Contraseña:</label>
        </div>
        <div class="col-75">
          <input type="text" formControlName="password" [(value)]="user.password" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" disabled/>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Provincia es obligatoria</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="becario">Becario:</label>
        </div>
        <div class="col-75">
          <input type="text" id="becario" name="becario" [value]="user.becario" disabled>
        </div>
      </div>

      <br>
      <br> 

      <div class="row">
        <input type="submit" value="Guardar cambios">
      </div>

    </form>
  </div>

</body>