.nav-container {
  height: 100%;
  width: 100%;
}

.sidenav {
  width: 350px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24)
}

.topbar {
  background-color: var(--main-color);
}

.notif-btn {
  overflow: auto;
  left: 1080px;
  margin-right: 30px;
}

.exit {
  color: rgba(252, 4, 4, 0.938);
  
}

h3 {
  margin-left: 20px;
  margin-right: 20px;
}



