<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list class="lista-navegacion">
        <mat-list-item>
            <mat-icon>home</mat-icon>
            <h3>Inicio</h3>
            <a mat-list-item href="/inicio"></a>
        </mat-list-item>
        <mat-list-item>
            <mat-icon>face</mat-icon>
            <h3>Perfil</h3>
            <a mat-list-item href="/fichapersonal"></a>
        </mat-list-item>
        <mat-list-item>
            <mat-icon>add_to_queue</mat-icon>
            <h3>Gestionar</h3>
            <a mat-list-item href="/departamentos"></a>
        </mat-list-item>
        <mat-list-item>
            <mat-icon>add_circle</mat-icon>
            <h3>Añadir</h3>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item class="btn-logOut">
            <mat-icon>lock</mat-icon>
            <h3>Cerrar sesion</h3>
            </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>PUNCHI</span>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>